<<<<<<< HEAD

.content {
  max-width: 21cm;
  margin: auto;
}
.center {
  text-align: center;
}
p{
  margin:0px;
  padding:0px;
=======

.content {
  max-width: 21cm;
  margin: auto;
}
.center {
  text-align: center;
}
p{
  margin:0px;
  padding:0px;
>>>>>>> 6f5424233f04375feed0c12782e2d1ba4c144719
}